<a href="https://colab.research.google.com/github/RodrigoMunoz-dev/Desafios-Alura-Pandas/blob/main/Desaf%C3%ADo_Ventas_online.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import pandas as pd
datos = pd.read_json('/content/drive/MyDrive/colab_data/dados_vendas_clientes.json')
datos = pd.json_normalize(datos['dados_vendas'])
datos.head()

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    5 non-null      object
 1   Cliente          5 non-null      object
 2   Valor da compra  5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [4]:
columnas = list(datos.columns)

In [5]:
columnas

['Data de venda', 'Cliente', 'Valor da compra']

In [6]:
datos = datos.explode(columnas[1:])
datos

  Data de venda             Cliente Valor da compra
0    06/06/2022     @ANA _LUCIA 321        R$ 836,5
0    06/06/2022  DieGO ARMANDIU 210       R$ 573,33
0    06/06/2022  DieGO ARMANDIU 210        R$ 392,8
0    06/06/2022  DieGO ARMANDIU 210       R$ 512,34
1    07/06/2022  Isabely JOanes 738       R$ 825,31
1    07/06/2022  Isabely JOanes 738       R$ 168,07
1    07/06/2022  Isabely JOanes 738       R$ 339,18
1    07/06/2022  Isabely JOanes 738       R$ 314,69
2    08/06/2022  Isabely JOanes 738       R$ 682,05
2    08/06/2022    JOãO Gabriel 671       R$ 386,34
2    08/06/2022  Julya meireles 914       R$ 622,65
2    08/06/2022  Julya meireles 914       R$ 630,79
3    09/06/2022  Julya meireles 914        R$ 390,3
3    09/06/2022     MaRIA Julia 444       R$ 759,16
3    09/06/2022     MaRIA Julia 444       R$ 334,47
3    09/06/2022     MaRIA Julia 444       R$ 678,78
4    10/06/2022     MaRIA Julia 444       R$ 314,24
4    10/06/2022     PEDRO PASCO 812       R$ 311,15
4    10/06/2022    Paulo castro 481       R$ 899,16
4    10/06/2022   Thiago fritzz 883       R$ 885,24

In [7]:
datos.reset_index(drop = True, inplace= True)

In [8]:
datos

   Data de venda             Cliente Valor da compra
0     06/06/2022     @ANA _LUCIA 321        R$ 836,5
1     06/06/2022  DieGO ARMANDIU 210       R$ 573,33
2     06/06/2022  DieGO ARMANDIU 210        R$ 392,8
3     06/06/2022  DieGO ARMANDIU 210       R$ 512,34
4     07/06/2022  Isabely JOanes 738       R$ 825,31
5     07/06/2022  Isabely JOanes 738       R$ 168,07
6     07/06/2022  Isabely JOanes 738       R$ 339,18
7     07/06/2022  Isabely JOanes 738       R$ 314,69
8     08/06/2022  Isabely JOanes 738       R$ 682,05
9     08/06/2022    JOãO Gabriel 671       R$ 386,34
10    08/06/2022  Julya meireles 914       R$ 622,65
11    08/06/2022  Julya meireles 914       R$ 630,79
12    09/06/2022  Julya meireles 914        R$ 390,3
13    09/06/2022     MaRIA Julia 444       R$ 759,16
14    09/06/2022     MaRIA Julia 444       R$ 334,47
15    09/06/2022     MaRIA Julia 444       R$ 678,78
16    10/06/2022     MaRIA Julia 444       R$ 314,24
17    10/06/2022     PEDRO PASCO 812       R$ 311,15
18    10/06/2022    Paulo castro 481       R$ 899,16
19    10/06/2022   Thiago fritzz 883       R$ 885,24

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [10]:
import numpy as np

In [11]:
datos['Valor da compra'] = datos['Valor da compra'].apply(lambda x: x.replace('R$', '').replace(',', '').strip())

In [12]:
datos

   Data de venda             Cliente Valor da compra
0     06/06/2022     @ANA _LUCIA 321            8365
1     06/06/2022  DieGO ARMANDIU 210           57333
2     06/06/2022  DieGO ARMANDIU 210            3928
3     06/06/2022  DieGO ARMANDIU 210           51234
4     07/06/2022  Isabely JOanes 738           82531
5     07/06/2022  Isabely JOanes 738           16807
6     07/06/2022  Isabely JOanes 738           33918
7     07/06/2022  Isabely JOanes 738           31469
8     08/06/2022  Isabely JOanes 738           68205
9     08/06/2022    JOãO Gabriel 671           38634
10    08/06/2022  Julya meireles 914           62265
11    08/06/2022  Julya meireles 914           63079
12    09/06/2022  Julya meireles 914            3903
13    09/06/2022     MaRIA Julia 444           75916
14    09/06/2022     MaRIA Julia 444           33447
15    09/06/2022     MaRIA Julia 444           67878
16    10/06/2022     MaRIA Julia 444           31424
17    10/06/2022     PEDRO PASCO 812           31115
18    10/06/2022    Paulo castro 481           89916
19    10/06/2022   Thiago fritzz 883           88524

In [13]:
#datos['Valor da compra'] = datos['Valor da compra'].astype(np.float64)

In [14]:
datos['Valor da compra'] = datos['Valor da compra'].astype(np.float32)

In [15]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float32
dtypes: float32(1), object(2)
memory usage: 532.0+ bytes

In [16]:
datos['Cliente'] = datos['Cliente'].str.lower()

In [17]:
datos.head()

  Data de venda             Cliente  Valor da compra
0    06/06/2022     @ana _lucia 321           8365.0
1    06/06/2022  diego armandiu 210          57333.0
2    06/06/2022  diego armandiu 210           3928.0
3    06/06/2022  diego armandiu 210          51234.0
4    07/06/2022  isabely joanes 738          82531.0

In [18]:
datos['Cliente'].str.replace('[^a-z ]', '', regex=True)

0          ana lucia
1     diego armandiu
2     diego armandiu
3     diego armandiu
4     isabely joanes
5     isabely joanes
6     isabely joanes
7     isabely joanes
8     isabely joanes
9        joo gabriel
10    julya meireles
11    julya meireles
12    julya meireles
13       maria julia
14       maria julia
15       maria julia
16       maria julia
17       pedro pasco
18      paulo castro
19     thiago fritzz
Name: Cliente, dtype: object

In [19]:
datos['Cliente'] = datos['Cliente'].str.replace('[^a-z ]', '', regex=True).str.strip()

In [20]:
datos.head()

  Data de venda         Cliente  Valor da compra
0    06/06/2022       ana lucia           8365.0
1    06/06/2022  diego armandiu          57333.0
2    06/06/2022  diego armandiu           3928.0
3    06/06/2022  diego armandiu          51234.0
4    07/06/2022  isabely joanes          82531.0

# Transformar para el tipo datetime definiendo el formato de fecha como DD/MM/AAAA ('%d/%m/%Y')
datos['Data de venda'] = pd.to_datetime(datos['Data de venda'], format='%d/%m/%Y')
# Visualizar el resultado
datos

# Verificar el resultado de la transformación
datos.info()

# Calcular el total recaudado en compras por cada cliente
total_compras = datos.groupby(['Cliente'])['Valor da compra'].sum()
# Visualizar el resultado
total_compras

In [22]:
datos['Data de venda'] = pd.to_datetime(datos['Data de venda'], format = ('%d/%m/%Y'))

In [23]:
datos

   Data de venda         Cliente  Valor da compra
0     2022-06-06       ana lucia           8365.0
1     2022-06-06  diego armandiu          57333.0
2     2022-06-06  diego armandiu           3928.0
3     2022-06-06  diego armandiu          51234.0
4     2022-06-07  isabely joanes          82531.0
5     2022-06-07  isabely joanes          16807.0
6     2022-06-07  isabely joanes          33918.0
7     2022-06-07  isabely joanes          31469.0
8     2022-06-08  isabely joanes          68205.0
9     2022-06-08     joo gabriel          38634.0
10    2022-06-08  julya meireles          62265.0
11    2022-06-08  julya meireles          63079.0
12    2022-06-09  julya meireles           3903.0
13    2022-06-09     maria julia          75916.0
14    2022-06-09     maria julia          33447.0
15    2022-06-09     maria julia          67878.0
16    2022-06-10     maria julia          31424.0
17    2022-06-10     pedro pasco          31115.0
18    2022-06-10    paulo castro          89916.0
19    2022-06-10   thiago fritzz          88524.0

In [24]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     datetime64[ns]
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float32
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 532.0+ bytes

In [25]:
total_compras = datos.groupby(['Cliente'])['Valor da compra'].sum()

In [26]:
total_compras

Cliente
ana lucia           8365.0
diego armandiu    112495.0
isabely joanes    232930.0
joo gabriel        38634.0
julya meireles    129247.0
maria julia       208665.0
paulo castro       89916.0
pedro pasco        31115.0
thiago fritzz      88524.0
Name: Valor da compra, dtype: float32